<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Saludos</h2>
    <p>Hay una nueva respuesta en el foro: <i><%= @theme.title %></i> </p>
    <p>Respuesta: <i><%= @content %></i></p>
    <p>No olvides revisarlo en: <a href="http://webforge-express.herokuapp.com/#!/forum">WebForge</a>
    </p>
    
  </body>
</html>