<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Saludos <%= @receiver.name %></h1>
    <p>
      Hay una nueva respuesta en la conversación <%= @chat.id %>, no olvides revisarlo!
    </p>
  </body>
</html>