<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Saludos <%= @receiver.name %></h1>
    <p>
      El usuario <%= @sender.name %> (Rut: <%= @sender.rut %>) ha depositado la suma de $<%= @amount %> CLP en tu cuenta bancaria.
    </p>
  </body>
</html>