
body { 
  padding-top: 50px; 
}

/* Images */


a {

  font-family: 'Roboto Regular';
  font-size: 16px;
  color: #1e75bb;
  font-weight: 300;
  line-height: 1.42857;
  /*pendiente division*/
}

a:hover{
  text-decoration: none!important;
  color: #2EB8E6!important;
}

.big-app-bar-menu{
  width:800px;
}



.app-logo {
  height: 20px;
  width: auto;
  margin: 0px;

}




/* Text */

h1.topic-title {
  padding: 0 0 84px 0;
    margin: 0 0 0 -3px;
    color: #454545;
    font-size: 3em;
    font-weight: normal;
    line-height: 1.2em;
    font-family: 'Segoi UI Light';
    clear: both;
}

h2.ms-h2 {
  font-size: 1.45em;
    line-height: 1.24em;
    font-family: 'Segoi UI Regular';
    color: #454545;
    margin-bottom: 15px;
    margin-left: -1px;
    padding-top: 0;
    padding-bottom: 0;
}

p, li {
  font-family: 'Roboto Regular';
  font-size: 17px;
  font-weight: 300;
  color: #454545;
    margin: 0;
    line-height: 1.42857;
    padding-bottom: 5px;
}

a {
  font-family: 'Roboto Regular';
  font-size: 16px;
  color: #1e75bb;
  font-weight: 300;
  line-height: 1.42857;
  /*pendiente division*/
}

a:hover{
  text-decoration: none!important;
  color: #2EB8E6!important;
}



/* Forms */

.form-control.ms-input {
  border-radius:0;
    font-family: 'Segoi UI Light';
    font-size: 1.1em;
    margin-bottom: 6px;
    margin-top: 6px;

}

.btn.square {
  border-radius: 0;
}

/* Lists */

ol, ul {
  margin: 5px 0 20px 0;
  padding: 0 0 0 1px;
  list-style-position: inside;
}




/* Breadcrumbs */

/* Change breadcrumb background color */
.breadcrumb.ms {
     background-color: transparent;
     border-radius: 0;
     -moz-border-radius: 0;
     -webkit-border-radius: 0;
     -o-border-radius: 0;
     padding-left: 0px;
     margin-top: 25px;
}

/* Change breadcrumb links color */
.breadcrumb.ms a {
     color: #656565;
     font-size: 16px;
     font-family: 'Roboto Light';
}

.breadcrumb.ms a:hover {
     text-decoration: none;
}

/* Change active color*/
.breadcrumb.ms > .active {
     color: #00188f;
     font-size: 16px;
     font-family: 'Roboto Light';
}

/* Change breadcrumb separator to raquo symbol*/
.breadcrumb.ms > li + li:before {
     content: "\003E\00a0";
     color: #656565;
     font-size: 15px;
}


/* Buttons */

.glyphicon.page-nav-btn {
  font-size: 3em;
  margin-top: 25px;
  margin-bottom: 25px;
}

.next-box {
  text-align: right;
  float: right;
  width: 50%;
}

.back-box {
  text-align: left;
  float: left;
  width: 50%;
}
