<div class="container">
	<div class="grid">

		<div class="greetings-container">
			<div class="row">
				<div class="col-md-6">
					<h1>
						Heurísticas de Nielsen
					</h1>

					<p>
						Una aproximación a la Usabilidad Web o ¿Cómo sobrevivir en la Red?
					</p>

					<a href="heuristics" class="button-banner-cover">Empieza aquí!</a>


				</div>

				<div class="col-md-6">
					<div>	
						<img alt="Usability" src="assets/button_push-256.png" />

					</div>

				</div>




			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<a href="heuristics">
				<img src="assets/heuristics.png" alt="Heurísticas" class="icon-anchor" />
			</a>
			<div class="section-title">
				<a href="heuristics" class="text-anchor">Heurísticas</a>
			</div>
			<p>Conoce las diez guías generales para el diseño de interfaces definidas por el gurú de la usabilidad Jacob Nielsen.</p>
		</div>

		<div class="col-xs-3">
			<a href="heuristics">
				<img src="assets/evaluation.png" alt="Evaluación" class="icon-anchor" />
			</a>

			<div class="section-title">
				<a href="evaluations" class="text-anchor">Evaluación</a>
			</div>
			<p>Mide tus conocimientos a través de breves evaluaciones, entérate de tus debilidades y supera tu propia marca.</p>
		</div>

		<div class="col-xs-3">
			<a href="heuristics">
				<img src="assets/practice.png" alt="Práctica" class="icon-anchor" />
			</a>

			<div class="section-title">
				<a href="practices" class="text-anchor">Práctica</a>
			</div>
			<p>Aplica la teoría en la reparación de una interfaz dañada trabajando directamente con las tecnologías de front-end a través de Codepen.</p>
		</div>

		<div class="col-xs-3">
			<a href="heuristics">
				<img src="assets/resources.png" alt="Recursos" class="icon-anchor" />
			</a>
			<div class="section-title">
				<a href="references" class="text-anchor">Recursos</a>
			</div>
			<p>Navega y aprende a través de la colección de referencias externas reunidas en este recurso de aprendizaje.</p>
		</div>
	</div>	
</div>
